{%extends "layout.html"%}

{%block content%}

    <!-- Content for home page -->
    <div class="container"

      <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li role="presentation"><a href="{{ url_for('about') }}">About</a>
                    </li>
                    <li role="presentation"><a href="https://www.mlb.com/cubs" target="_blank">Go Cubs Go!</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted" float>Oh...Hello World!!!</h3>
      </div>

        <div class="jumbotron">
          <div class="container">
            <h1>Hello Pivotal!!!</h1>
            <p>This is a simple 'Hello World' web app built with Flask & Bootstrap. Its purpose is to serve as a sample app to be deployed to Pivotal Cloud Foundry via Pivotal Web Services.</p>
          </div>
        </div>

      <div class="container">

        <div class="row">

           <div class="col-md-4">
             <h2>Step 1</h2>
             <p>Build a basic web application with Flask with a design based on the "Jumbotron" Bootstrap template.</p>
           </div>

           <div class="col-md-4">
             <h2>Step 2</h2>
             <p>Deploy application to Pivotal Cloud Foundry via PWS; evaluate and capture findings.</p>
          </div>

           <div class="col-md-4">
             <h2>Step 3</h2>
             <p>Enhance web application and redeploy to PCF.</p>
           </div>
         </div>

      </div>

      </div>

{%endblock%}
